<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Start</key>
		<string>1</string>
		<key>End</key>
		<string>41</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>42</string>
		<key>End</key>
		<string>72</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>73</string>
		<key>End</key>
		<string>89</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>90</string>
		<key>End</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>107</string>
		<key>End</key>
		<string>150</string>
	</dict>
</array>
</plist>
