<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>גרשון יעקב בן פרץ</string>
	<string>נחמה בת חנה טויבא</string>
	<string>ישראל משה בן נחמה</string>
	<string>מירה בת אסתר</string>
	<string>מנחם דב בן מירה</string>
	<string>אוריה בן מירה</string>
	<string>נעמה חיה בת מירה</string>
	<string>מוסיא אילה בת מירה</string>
</array>
</plist>
