<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Start</key>
		<string>1</string>
		<key>End</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>10</string>
		<key>End</key>
		<string>17</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>18</string>
		<key>End</key>
		<string>22</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>23</string>
		<key>End</key>
		<string>28</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>29</string>
		<key>End</key>
		<string>34</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>35</string>
		<key>End</key>
		<string>38</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>39</string>
		<key>End</key>
		<string>43</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>44</string>
		<key>End</key>
		<string>48</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>49</string>
		<key>End</key>
		<string>54</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>55</string>
		<key>End</key>
		<string>59</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>60</string>
		<key>End</key>
		<string>65</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>66</string>
		<key>End</key>
		<string>68</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>69</string>
		<key>End</key>
		<string>71</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>72</string>
		<key>End</key>
		<string>76</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>77</string>
		<key>End</key>
		<string>78</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>79</string>
		<key>End</key>
		<string>82</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>83</string>
		<key>End</key>
		<string>87</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>88</string>
		<key>End</key>
		<string>89</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>90</string>
		<key>End</key>
		<string>96</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>97</string>
		<key>End</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>104</string>
		<key>End</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>106</string>
		<key>End</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>108</string>
		<key>End</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>113</string>
		<key>End</key>
		<string>118</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>119</string>
		<key>End</key>
		<string>119</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>119</string>
		<key>End</key>
		<string>119</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>120</string>
		<key>End</key>
		<string>134</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>135</string>
		<key>End</key>
		<string>139</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>140</string>
		<key>End</key>
		<string>144</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>145</string>
		<key>End</key>
		<string>150</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>140</string>
		<key>End</key>
		<string>150</string>
	</dict>
</array>
</plist>
